@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cinzel-Regular';
  src: local('Cinzel-Regular'), url(./fonts/Cinzel/Cinzel-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'AbhayaLibre-Regular';
  src: local('AbhayaLibre-Regular.ttf'),
    url(./fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf) format('ttf');
}

@keyframes marquee {
  0% {
    transform: translate3d(110%, 0, 0);
  }

  100% {
    transform: translate3d(-110%, 0, 0);
  }
}
